@media (max-width: 767px) {
  .image-container {
    margin-top: 10px;
  }
}

.info-header {
  padding: 10px;
}

.favorite-star {
  font-size: 1.5rem;
  cursor: pointer;
  float: right;
}

.image-container {
  position: relative;
  height: 175px;
}

.image-container div {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 125px;
  background: rgb(255, 193, 7);

  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-container img {
  position: absolute;
  width: 100px;
  height: 350px;
  object-fit: fill;

  left: 50%;
  transform: translate(-50%, 0);
}

.body-description {
  margin-top: 10px;
  padding: 20px;
}
