.info-header {
  padding: 10px;
}

.favorite-star {
  font-size: 1.5rem;
  cursor: pointer;
  float: right;
}

.image-container {
  position: relative;
  height: 150px;
}

.image-container div {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background: rgb(255, 193, 7);

  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-container img {
  position: absolute;
  width: 100px;
  height: 300px;
  object-fit: fill;

  left: 50%;
  transform: translate(-50%, 0);
}
