<!--Loader-->
<ng-container *ngIf="isLoading">
  <div class="d-flex justify-content-center">
    <div class="spinner-border text-primary m-3" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-container>

<!--Error-->
<ng-container *ngIf="!isLoading && error != null">
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ error }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</ng-container>

<!--Beer info-->
<ng-container *ngIf="!isLoading && error == null">
  <div class="bg-dark info-header">

    <div class="row">
      <div class="col-12">
        <!--Back button-->
        <button type="button" class="btn btn-sm btn-outline-warning" (click)="back()">
          <i class="bi bi-arrow-left"></i> &nbsp;Back&nbsp;
        </button>

        <!--Random beer button-->
        <button type="button" class="btn btn-sm btn-outline-warning"
                style="float: right">
          <i class="bi bi-shuffle"></i> &nbsp;New random&nbsp;
        </button>
      </div>
    </div>

    <!--HEADER info with valid beer-->
    <ng-container *ngIf="beer != null">
      <div class="row justify-content-center beer-info-header">
        <!--Favorite star-->
        <div class="col-md-1 col-2 text-warning">
          <i class="bi favorite-star"
             [ngClass]="isFavorite() ? 'bi-star-fill' : 'bi-star'"
             (click)="onFavoriteClick()"></i>
        </div>

        <div class="col-md-5 col-10 header-name">
          <h3 class="text-warning">{{ beer.name }}</h3>
          <h5 class="text-secondary">{{ beer.tagline }}</h5>
        </div>

        <div class="col-md-4 col-12 image-container">
          <!--Background-->
          <div></div>
          <img src="{{ beer.image_url }}" alt="Beer image not found" width="100px" height="200px"/>
        </div>
      </div>
    </ng-container>
  </div>

  <!--Invalid beer-->
  <ng-container *ngIf="beer == null">
    <div class="text-center" style="margin-top: 10px">
      <h3>No beer info found</h3>
    </div>
  </ng-container>

  <!--Body for a valid beer-->
  <ng-container *ngIf="beer != null">

    <!--Description-->
    <div class="row">
      <div class="col-12 col-md-5 offset-md-2 body-description">
        <h4 class="text-secondary">Description</h4>
        <h6>{{beer.description || ''}}</h6>
      </div>
    </div>

    <div class="values-container">
      <h6>
        ABV: {{ (beer.abv || '') + '%' }} &nbsp; &nbsp;
        SRM: {{ (beer.srm || '') || notDefinedValue }} &nbsp; &nbsp;
        IBC: {{ (beer.ebc || '') || notDefinedValue }} &nbsp; &nbsp;
        IBU: {{ (beer.ibu || '') || notDefinedValue }} &nbsp; &nbsp;
        PH: {{ (beer.ph || '') || notDefinedValue }}
      </h6>
    </div>

    <!--Pairings-->
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 pairings-container">
        <h4 class="text-secondary">Pairings</h4>

        <!--Pairing list-->
        <ng-container *ngIf="!validFoodPairing()">
          <h6 style="text-align: center">No valid pairings found </h6>
        </ng-container>

        <ng-container *ngIf="validFoodPairing">

          <div class="row">
            <ng-container *ngFor="let pair of beer.food_pairing">

              <div class="col-12 col-sm-6 col-md-4 col-xl-3 col pairing-item-container">
                <div class="pairing-item">
                  <p>"{{ pair }}"</p>
                </div>
              </div>

            </ng-container>
          </div>

        </ng-container>
      </div>
    </div>

  </ng-container>

</ng-container>
