@media (max-width: 767px) {
  .beer-info-header {
    margin-top: 20px;
  }

  .image-container {
    margin-top: 20px;
  }

  .body-description {
    min-height: auto !important;
    margin-top: 160px !important;
    padding: 30px !important;
  }

  .pairings-container {
    margin-top: 10% !important;
    padding: 0 30px;
  }
}

.info-header {
  padding: 10px;
}

.favorite-star {
  font-size: 1.5rem;
  cursor: pointer;
  float: right;
}

.image-container {
  position: relative;
  height: 175px;
}

.image-container div {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 125px;
  background: #ffc107;

  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-container img {
  position: absolute;
  width: 100px;
  height: 350px;
  object-fit: fill;

  left: 50%;
  transform: translate(-50%, 0);
}

.body-description {
  min-height: 150px;
  margin-top: 10px;
  padding: 20px;
}

.values-container {
  background-color: #ffc107;
  margin-top: 4%;
  padding: 20px 2px;
}

.values-container h6 {
  text-align: center;
  margin: 0;
  color: #fff;
  white-space: pre-wrap;
  line-height: 1.5;
}

.pairings-container {
  margin-top: 4%;
}

.pairing-item-container {
  padding: 20px 10px;
}

.pairing-item {
  position: relative;
  background: #fff;
  height: 200px;
  box-shadow: 10px 10px #ffc107;
}

.pairing-item p {
  width: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
