<div class="container">
  <div class="row justify-content-center">

    <!--Search name or combination -->
    <div class="col-12 col-md-6 col-xl-4 align-self-end">
      <div class="row">
        <div class="col">
          <label for="beerName" class="col-form-label-sm">Beer name</label>
          <input type="text" class="form-control" id="beerName" placeholder="Name" [(ngModel)]="filter.beerName">
        </div>

        <div class="col">
          <label for="foodCombination" class="col-form-label-sm">Food combination</label>
          <input type="text" class="form-control" id="foodCombination" placeholder="Combination" [(ngModel)]="filter.foodCombination">
        </div>
      </div>
    </div>

    <!-- Alcohol content -->
    <div class="col-12 col-md-6 col-xl-4">
      <label for="alcoholContentFrom" class="col-form-label-sm">Alcohol content (From -> To)</label>
      <div class="row">
        <div class="col">
          <input type="number" class="form-control" id="alcoholContentFrom" placeholder="From" [(ngModel)]="filter.alcohol.from"
                  (keypress)="onlyNumberInput($event)">
        </div>

        <div class="col">
          <input type="number" class="form-control" id="alcoholContentTo" placeholder="To" [(ngModel)]="filter.alcohol.to"
                 (keypress)="onlyNumberInput($event)">
        </div>
      </div>
    </div>

    <!-- Button search -->
    <div class="col-6 col-lg-4 col-xl-2 align-self-end">
      <button class="btn btn-warning w-100" (click)="onFilterClick()" [disabled]="disableFilter">Filter</button>
    </div>

  </div>
</div>
