<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">BREWDOG</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="btn btn-sm btn-outline-warning" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-sm btn-outline-warning">Beer random</button>
        </li>
        <li class="nav-item">
          <a class="btn btn-sm btn-outline-warning" routerLink="/favorites">Favorites</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
