<!--Search beer-->
<div class="w-100 bg-dark search-container">
  <app-search-beer [disableFilter]="isLoading" (onErrorInput)="showError($event)" (onFilter)="onFilter($event)"></app-search-beer>
</div>

<!--Body of page -->
<div class="padding-vertical justify-content-center">
  <!-- Loading -->
  <ng-container *ngIf="isLoading">
    <div class="d-flex justify-content-center">
      <div class="spinner-border text-primary m-3" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </ng-container>

  <div class="container">
    <!-- Error -->
    <ng-container *ngIf="error != null && !isLoading">
      <div class="row">
        <div class="col-12 alert alert-danger" role="alert">
          Error: {{error}}
        </div>
      </div>
    </ng-container>

    <!-- List of beers -->
    <ng-container *ngIf="!isLoading">
      <div class="paging">
        <!--Paging Top-->
        <div class="row">
          <div class="col-6 text-align-left">
            <h5>{{beers.length}} beers</h5>
          </div>
          <div class="col-6 justify-content-end">
            <button class="btn btn-sm btn-warning float-end" [disabled]="!nextButtonVisible" (click)="nextPage()">Next</button>
            <button class="btn btn-sm btn-warning float-end" [disabled]="!prevButtonVisible" (click)="prevPage()">Prev</button>
          </div>
        </div>

        <!-- List of beers -->
        <div class="padding-vertical">
          <ng-container *ngFor="let beer of beers">
            <div class="list-item">
              <app-beer-card [beer]="beer"></app-beer-card>
            </div>
          </ng-container>
        </div>

        <!--Paging Bottom-->
        <div class="row">
          <div class="col-6 text-align-left">
            <h5>Page: {{page}}</h5>
          </div>
          <div class="col-6">
            <button class="btn btn-sm btn-warning float-end" [disabled]="!nextButtonVisible" (click)="nextPage()">Next</button>
            <button class="btn btn-sm btn-warning float-end" [disabled]="!prevButtonVisible" (click)="prevPage()">Prev</button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
