/* You can add global styles to this file, and also import other style files */
body {
  background: #f3f3f3;
}

.padding-vertical {
  padding: 20px 0;
}

.search-container {
  padding: 20px 0;
}

.paging {
  max-width: 1300px;
  padding: 20px;
}

.paging .btn {
  margin-right: 10px;
}

.paging .list-item {
  padding: 2px 0;
}
